body {
    background: linear-gradient(rgb(155 161 173), rgb(218 186 169), rgb(35 39 49));
    background-repeat: no-repeat;
    background-size: initial;  
    display: grid;
    font-family: 'EB Garamond', serif;
    text-align: center;

}
h1 {
    font-size: 40px;
}

header {
    text-decoration: double;
}

p {
    color: rgb(29, 28, 28);
    font-size: 25px;
}

#searchDiv {
    position: relative;
}

#table {
    margin: 20px;
    /* display: -moz-grid-line;
    flex-wrap: wrap; */
    /* position: inherit ; */
    /* width: fit-content; */
    /* display: grid; */
    grid-template-columns: 400px 400px 400px;
    /* border: 5px solid black */
}

img {
    display: grid;
    width: 50%;
    height: auto;
    /* object-fit: cover; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-top: 50px; */
}

.imageContainer {
    /* width: 100%; */
    padding: 0;
    /* text-align: center; */
    margin-top: 20px;
    /* width: fit-content;*/
    /* border: 10px solid white  */
}