/* choosing a background was surprising tedious  */

body {
    background-image: url(/imgs/a_vintage-faded-paper-texture.jpeg);
    /* background: linear-gradient(rgb(155 161 173), rgb(218 186 169), rgb(35 39 49)); */
    /* background-repeat: no-repeat; */
    background-size: contain;
    display: grid;
    font-family: 'EB Garamond', serif;
    text-align: center;
}

input {
    font-family: 'EB Garamond', serif;

}

button {
    font-family: 'EB Garamond', serif;

}

h1 {
    font-size: 40px;
    /* background-image: url(/imgs/WOT_banner1.jpeg); */
}

header {
    text-decoration: double;
}

p {
    color: rgb(29, 28, 28);
    font-size: 25px;
}

#searchDiv {
    position: relative;
}

/* I was trying to move the images into columns here */

#table {
    margin: 20px;
    /* display: -moz-grid-line;
    flex-wrap: wrap; */
    /* position: inherit ; */
    /* width: fit-content; */
    /* display: grid; */
    grid-template-columns: 400px 400px 400px;
    /* border: 5px solid black */
}

img {
    display: grid;
    width: 50%;
    height: auto;
    /* object-fit: cover; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-top: 50px; */
}

.imageContainer {
    /* width: 100%; */
    padding: 0;
    /* text-align: center; */
    margin-top: 20px;
    /* width: fit-content;*/
    /* border: 10px solid white  */
}