/* choosing a background was surprising tedious  */

body {
    background-image: url(/imgs/sand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    /* display: grid; */
    font-family: 'EB Garamond', serif;
    text-align: center;
}

input {
    font-family: 'EB Garamond', serif;

}

button {
    font-family: 'EB Garamond', serif;

}

h1 {
    font-size: 40px;
    /* background-image: url(/imgs/WOT_banner1.jpeg); */
}

header {
    text-decoration: double;
}

p {
    font-size: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#searchDiv {
    position: relative;
}

/* I was trying to move the images into columns here */

#results-container {
    margin: 50px;
    padding: 20px;
    width: 100%;
    height: unset;
    display: table;
    position: relative;
    
}

ul {
    /* display: table; */
    column-count: 3;
    position: relative;
    
}

li {
    list-style: none;
}

img {
    display: grid;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 10px solid black;
}

.imageContainer {
    background-color:rgb(29, 28, 28);
    color: white;
    width: fit-content;
    margin: 20px;
    /* position:unset; */
    
}